<div class="container-fluid">
 <div class="row text-center">
  <div class="col-lg-12">
   <div class="card">
    <h4 class="card-header">About us</h4>
    <div class="card-body">
     <p class="card-text">FitTrack offers products and services that all focus on gathering and managing sports data in order
       to motivate people to do sports and to link like-minded people. No matter if you run, cycle, walk, ski or do any other
       sport – Runtastic makes these activities more exciting for you – because after all, sports are supposed to be fun.
     </p>

      <p class="card-text">All relevant sports data (elapsed time, speed, calorie consumption, heart rate) can
        be tracked via an app (e.g. iPhone, Android, Windows Phone) and can be uploaded directly to the FitTrack Fitness
         site www.fitTracker.com (a social fitness community for users).</p>

       <p class="card-text">FitTrack provides a sports tracking and management solution for all, no matter if they
        are a beginner or fitness pro, young or old, tech-savvy or not. It is simple and straightforward!
       </p>

      <p class="card-text">By combining sports and technology (internet, GPS smartphones)FitTrack is making sports even
        more fun. Shared activities, competitions and incentives within the community increase motivation and further assist
         the users in achieving their goals. </p>
    </div>
  </div>
 </div>
</div>
