
<div class="jumbotron jumbotron-fluid ">
 <div class="container">
  <h1 class="display-4">Welcome to Fitness Buddy</h1>

  <p class="lead">Getting Fit for Life - Keeping fit for life</p>
  <hr class="my-4">
  <p>You know it makes sense: </p>
  <ul>
   <li>Makes you <b>happier</b></li>
   <li>Improves your <b>Brain</b> health and memory</li>
   <li>Increases your <b>engery</b> levels</li>
   <li>Better skin <b>condition and looks</b></li>
   <li>Great for your <b>muscles</b> and <b>bones</b></li>
  </ul>


 <div>
</div>
